*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
    
    
}

body{
    overflow: hidden;
}

html:focus-within{
    scroll-behavior: smooth;
    
}

:root{
  --bg-color: #1f242d;
  --second-bg-color: #323946;
  --text-color: white;
  --main--color: #0ef;
}

/* :root{
    --bg-color: rgb(223, 171, 74);
    --second-bg-color: white;
    --text-color: black;
    --main--color: rgb(248, 50, 50);
  } */

html{
    font-size: 62.5%;
    overflow-x: hidden;

}

body{
    background: var(--bg-color);
    color: var(--text-color);
}

section{
    padding: 10rem 9% 2rem;
    min-height: 100vh;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background-color: var(--bg-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;


}

.logo{
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}

.navbar a{
    font-size: 1.9rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: 0.3s;
}

.navbar a:hover,
.navbar a.active{
    color: var(--main--color);
    
}

#menu-icon{
    font-size: 4.4rem;
    color: var(--text-color);
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0px 40px 40px  var(--main--color) inset; */
}



.clip{
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;

    animation:  floatimage 4s ease-in-out infinite;
    
    
    
}


@keyframes floatimage{
    0%{

        transform: translateY(0);
    }

    50%{
        transform: translateY(-2.4rem);

    }

    100%{
        transform: translateY(0);

    }
}

.clip-path{
    width: 50vh;
    background: var(--main--color);
    height: 50vh;
    /* clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%); */
    border-radius: 100rem;
    display: flex;
    align-items: center;
    justify-content: center;

}

.clip-path img{
    height:420px;
}

.home-content h3{
    font-size: 3.2rem;
    font-weight: 700;
}

.home-content h3:nth-of-type(2){
 margin-bottom: 2rem;
}

.home-content h1{
    font-size:  5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-content p{
    font-size: 1.6rem;
}
span{
    color: var(--main--color);
}

.social-media a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background-color: transparent;
    border: .2rem solid var(--main--color);
    border-radius: 100rem;
    font-size: 2rem;
    color: var(--main--color);
    margin: 3rem 1.5rem 3rem 0rem;
    transition: 0.3s;
}

.social-media a:hover{
    background: var(--main--color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main--color);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main--color);
    border-radius: 4rem;
    box-shadow: 0rem 0rem 1rem var(--main--color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.5s ease;
}

.btn:hover{
    box-shadow: none;
}


.about{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    background: var(--second-bg-color);
}


.clip2{
    width: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
   
}

.about-img{
    display: flex;
    justify-content: center;
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);

    background: var(--main--color);
    width: 50vh;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.about-img2{
    background: var(--second-bg-color);
    clip-path: polygon(0 25%, 50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%);
    
    /* clip-path: polygon(50% 5%, 95% 25%, 95% 75%, 49% 95%, 5% 75%, 5% 24%); */
    width: 45vh;
    height: 45vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.heading{
    text-align: center;
    font-size: 5rem;
}

.about-content h2{
    text-align: left;
    line-height: 1.2;
}

.about-content h3{
    font-size: 2.5rem;
}

.about-content p{
    font-size: 1.8rem;
    margin: 2rem 0 3rem;
}

.about-img2 img{
        height: 400px;
        width: 500px;
}

.portfolio{
    background: var(--second-bg-color);
}

.portfolio h2{
    margin-bottom: 4rem;
}

.portfolio-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    gap: 2.5rem;
    
}

.portfolio-container .portfolio-box{
    
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--main--color);
    overflow: hidden;
    display: flex;
    height: 40vh;
    width: 40vh;
    margin: auto;
    
}

.portfolio-box img{
    
    width: 100%;
    transition: .5s ease;
}

.portfolio-box  .portfolio-layer{
    
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0,0,0,.1), var(--main--color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;

    transform: translateY(100%);
    transition: 0.5s ease;
}

.portfolio-box:hover img{
 transform: scale(1.1);

}
.portfolio-box:hover .portfolio-layer{
    transform: translateY(0);
}

.portfolio-layer h4{

    font-size: 3rem;
}

.portfolio-layer {
    font-size: 1.6rem;
    
}

.portfolio-layer a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
    margin-top: 0.5rem;
}

.portfolio-layer a i{
    font-size: 2rem;
    color: var(--second-bg-color);
}





.contact h2{
    margin-bottom: 3rem;

}

.contact form{
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contact form .input-box{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contact form .input-box input, 
.contact form textarea{
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--second-bg-color);
    border-radius: 0.8rem;
    margin: 0.7rem;
    
}

.contact form .input-box input{
    width: 48%;
}

.contact form textarea{
    resize: none;
    width: 95%;
}

.contact form .btn{
margin-top: 2rem;
cursor: pointer;
}




@media (max-width: 1200px){
    html{
        font-size: 55%;
    }

    .clip{
        width: 61vh;
    }
}

@media (max-width: 1000px){
    .header{
        padding: 2rem 3%;
    }

    /* section{
        padding: 10rem 3% 2rem;
    } */

    .clip{
        width: 45vh;
    }

    .clip-path{
        width: 40vh;
        height: 40vh;
    }

    .clip-path img{
        height: 300px;
    }

    .portfolio{
        padding-bottom: 7rem;
    }

}


@media (max-width: 768px){
    
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        /* width: 100%; */
        padding: 1rem 3%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, 0.2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        display: none;
    }

  .activ{
        display: block;
    }

   



    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
    }

    .home{
        flex-direction: column;
    }

    .clip{
        margin-top: 3rem;
        padding-bottom: 3rem;
    }

    .home-content h3{
        font-size: 2.6rem;
    }

    .home-content h1{
        font-size: 5rem;
    }

    .about{
        flex-direction: column-reverse;
    }

    .portfolio-container{
        grid-template-columns: repeat(2,1fr);
    }
    
} 

@media (max-width: 620px){

    .portfolio-container{
        grid-template-columns: 1fr;
    }

    .contact form .input-box input{
        width: 100%;
    }

    .clip2{
        width: 50vh;
    }

}

@media (max-width:462px){
    html{
        font-size: 50%;
    }

    .about-img{
        width: 40vh;
    }

    .about-img2{
        width: 36vh;
    }

    .about-img2 img{
        height: 300px;
        width: 360px;
    
    }


    .portfolio-container .portfolio-box{
    
    
        height: 30vh;
        width: 30vh;
        margin: auto;
        
    }

    
}

@media (max-width:360px){
    
    .clip2{
        width: 40vh;
    }

    .about-img2{
        width: 90%;
    }

   

    
}